@import "../../../styles/global.scss";

.developers-page {
    padding: 24px;
    color: $white;

    .developers-title {
        font-size: 1.6rem;
        font-weight: 700;
        margin-bottom: 24px;
        color: $white;
    }
}
