.aev-context-menu {
    position: fixed;
    background: #0c1119;
    border: 1px solid rgb(255 255 255 / 8%);
    box-shadow: 0 0 12px rgb(0 123 255 / 20%);
    border-radius: 10px;
    z-index: 1000;
    padding: 8px;
    min-width: 160px;
  
    .menu-item {
      padding: 10px;
      color: white;
      cursor: pointer;
      border-radius: 6px;
      font-size: 14px;
  
      &:hover {
        background: rgb(0 123 255 / 20%);
      }
    }
  }
  