.tooltip-chip {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  background: transparent;
  z-index: 100;
  color: var(--white);
  border-radius: 50px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  border: 1px solid var(--transparent-white);
  margin: 6px;
  font-weight: 500;
  font-family: "Inter", sans-serif;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }
}

.tooltip {
  position: absolute;
  bottom: -45px;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  background: var(--dark-blue);
  color: var(--white);
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 12px;
  white-space: nowrap;
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform-origin: top center;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  &::after {
    content: "";
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent var(--dark-blue) transparent;
  }
}

.tooltip.visible {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(-5px);
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}
