.profile-container {
  min-height: 100vh;
  color: white;
  padding: 20px 100px;

  .bottom-content-wrapper {
    margin-left: 220px;
    padding: 0 20px;
  }

  @media (max-width: 768px) {
    padding: 10px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .profile-container {
    padding: 10px 20px;
    .bottom-content-wrapper {
      margin-left: 0;
      padding: 0 10px;
    }
  }
} 
