.header-page {
  background-color: #1a1a1a;
  padding: 15px;
  color: white;

  .navigation {
    display: flex;
    gap: 15px;

    button {
      background-color: transparent;
      color: white;
      border: none;
      cursor: pointer;
      
      &:hover {
        color: #3a7bd5;
      }
    }
  }
}

.header-layout {
  display: flex;
  width: 100%;

  .wishlist-section {
    width: 220px;
    flex-shrink: 0;
    z-index: 10;
  }

  .account-section {
    flex-grow: 1;
    margin-left: 20px;
  }
}

@media (max-width: 1024px) {
  .header-layout {
    flex-direction: column;
    .wishlist-section {
      width: 100%;
      margin-bottom: 10px;
    }
    .account-section {
      margin-left: 0;
    }
  }
}
@media (max-width: 480px) {
  .header-layout {
    flex-direction: column;
    .wishlist-section {
      width: 100%;
      margin-bottom: 5px;
    }
    .account-section {
      margin-left: 0;
    }
  }
}