.aev-icon-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    .aev-icon {
        fill: currentcolor;
        width: 100%;
        height: 100%;
        transition: all 0.2s ease;
    }

    &:hover .aev-icon {
        transform: scale(1.1);
        color: var(--blue);
    }
}
