@import "../../../styles/global.scss";

.aev-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: $second-background;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.05);

  .aev-table-header {
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, $blue, $blue-light);
    padding: 17px 20px;
    position: relative;

    .header-cell {
      flex: 1;
      font-weight: bold;
      color: $white;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.6px;
    }

    .checkbox-cell {
      flex: 0 0 40px;
    }

    .aev-table-actions {
      position: absolute;
      right: 20px;
      display: flex;
      gap: 10px;

      .add-button {
        color: $black;

        &:hover {
          background-color: $hover-white;
        }
      }
    }
    .delete-button {
      color: $white;
      background-color: rgba(255, 255, 255, 0.1);

      &:hover {
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
  }

  .aev-table-body {
    display: flex;
    flex-direction: column;

    .aev-table-row {
      display: flex;
      padding: 20px 20px;
      border-top: 1px solid rgba(255, 255, 255, 0.05);
      transition: background 0.2s ease;

      &:nth-child(odd) {
        background-color: $semi-black;
      }
      &:nth-child(even) {
        background-color: $background-black;
      }

      &:hover {
        background: rgba(0, 123, 255, 0.05);
      }

      &:hover {
        background: rgba(0, 123, 255, 0.05);
      }

      .aev-table-cell {
        flex: 1;
        color: $lightgray;
        font-size: 14px;
        display: flex;
        align-items: center;

        &.checkbox-cell {
          flex: 0 0 40px;
          justify-content: center;
        }
      }
    }
  }
}
