.section-title {
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  gap: 8px;
}

.chevron {
  font-size: 24px;
  margin-top: 5px;
}
