.aev-dropdown {
  position: relative;
  width: 100%;
  max-width: 280px;
  user-select: none;

  .dropdown-header {
    background: rgb(255 255 255 / 3%);
    border: 1px solid rgb(255 255 255 / 10%);
    border-radius: 10px;
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    cursor: pointer;
    transition: background 0.2s ease;

    &:hover {
      background: rgb(255 255 255 / 5%);
    }

    .selected-value {
      font-size: 0.95rem;
    }

    .chevron {
      transition: transform 0.3s ease;

      &.rotate {
        transform: rotate(180deg);
      }
    }
  }

  .dropdown-list {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    right: 0;
    background: linear-gradient(135deg, #02090D, #0a1b26);
    border-radius: 10px;
    border: 1px solid rgb(0 123 255 / 8%);
    box-shadow: 0 0 12px rgb(0 123 255 / 5%);
    z-index: 999;
    padding: 8px 0;
    animation: fadeIn 0.2s ease;

    .dropdown-item {
      padding: 10px 16px;
      font-size: 0.95rem;
      color: var(--lightgray);
      transition: background 0.2s;
      cursor: pointer;

      &:hover {
        background: rgb(0 123 255 / 10%);
        color: var(--white);
      }
    }
  }
}

.aev-dropdown-sm {
  max-width: 180px;

  .dropdown-header {
    padding: 4px 12px;
    font-size: 0.85rem;
  }
}

.aev-dropdown-md {
  max-width: 280px;

  .dropdown-header {
    padding: 12px 16px;
    font-size: 0.95rem;
  }
}

.aev-dropdown-lg {
  max-width: 380px;

  .dropdown-header {
    padding: 14px 20px;
    font-size: 1rem;
  }
}


@keyframes fadeIn {

  from {
    opacity: 0;
    transform: translateY(-6px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
