.stat-graph {
  background: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 24px;
  color: var(--white);
  box-shadow: 0 0 20px rgba(0, 123, 255, 0.05);

  .stat-graph-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h3 {
      font-size: 1.2rem;
    }
  }

  .graph-wrapper {
    width: 100%;
    height: 300px;
  }
}

.recharts-default-tooltip
{
  background: var(--second-background) !important;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  padding: 12px;
  color: var(--white);
  box-shadow: 0 0 12px rgba(0, 123, 255, 0.3);
}
