@import "../../styles/global.scss";

.note-card {
    background: $second-background;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    padding: 20px;
    color: $light-text;
    font-size: 15px;
    max-width: 320px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 0 transparent;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
    cursor: pointer;
    overflow: hidden;
    white-space: pre-wrap; // <<< Affiche les retours à la ligne
    word-break: break-word;

    &:hover {
        box-shadow: 0 0 12px rgba(0, 123, 255, 0.2);
        transform: translateY(-2px);
    }

    .note-content {
        flex: 1;
        white-space: pre-wrap; // <<< Important pour gérer les \n et entrées clavier
        overflow-y: auto;
        line-height: 1.6;
        color: $white;
    }

    .note-options {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;

        .dot {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: $blue;
            margin-left: 6px;
        }
    }

    .note-body {
        font-size: 0.95rem;
        line-height: 1.4rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }
}
