.aev-hr {
    border: none;
    height: 1px;
    background: rgb(255 255 255 / 8%);
    margin: 24px 0;

    &.light {
        background: rgb(255 255 255 / 4%);
    }

    &.dashed {
        border-top: 1px dashed rgb(255 255 255 / 10%);
        background: none;
    }
}
