@import "../../../styles/global.scss";

.game-page {
    padding: 30px;

    .game-title {
        font-size: 1.6rem;
        font-weight: 700;
        margin-bottom: 20px;
        color: $white;
    }

    .game-grid {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}
