.aev-gauge-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 12px;
}

.gauge-value {
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--blue);
  background: var(--blue);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gauge-track-container {
  position: relative;
  width: 100%;
}

.aev-gauge-range {
  appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 10px;
  background: linear-gradient(90deg, rgb(0 34 78 / 100%) 0%, rgb(0 123 255 / 60%) 100%);
  outline: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.aev-gauge-range::-webkit-slider-thumb {
  appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 6px;
  background: linear-gradient(145deg, #0057a3, #0093ff);
  box-shadow: 0 0 10px rgb(0 123 255 / 60%);
  transition: transform 0.2s ease;
}

.aev-gauge-range::-moz-range-thumb {
  height: 24px;
  width: 24px;
  border-radius: 6px;
  background: linear-gradient(145deg, #0057a3, #0093ff);
  box-shadow: 0 0 10px rgb(0 123 255 / 60%);
  cursor: pointer;
}
