:root {
  --background-black: #00050d;
  --transparent-white: rgba(255, 255, 255, 0.6);
  --second-background: #000711;
  --lightgray: #c9cbcc;
  --gray-background: #111111;
  --blue: rgba(0, 123, 255, 1);
  --dark-blue: #000C1F;
  --white: #ffffff;
  --color-background: #00050D;
  --color-transparent: rgba(0, 5, 13, 0.00);
  --color-white: #FFFFFF;
  --glow-blue: rgba(32, 156, 255, 0.90);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--white);
}

p {
  color: var(--white);
}

.mt-1{
  margin-top: 1rem;
}

.mt-2{
  margin-top: 2rem;
}

.mt-3{
  margin-top: 3rem;
}

.mt-4{
  margin-top: 4rem;
}

.mt-5{
  margin-top: 5rem;
}

.mb-1{
  margin-bottom: 1rem;
}

.mb-2{
  margin-bottom: 2rem;
}

.mb-3{
  margin-bottom: 3rem;
}

.mb-4{
  margin-bottom: 4rem;
}

.mb-5{
  margin-bottom: 5rem;
}

.text-center {
  text-align: center;
}

.text-light {
  font-weight: 300;
}

.text-bold {
  font-weight: 700;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.blue {
  color: var(--blue);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-fluid {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 40px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.title-center {
  text-align: center;
  font-family: "Instrument Sans", sans-serif;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.6) 0%, #fff 100%);
  background-clip: text;
  font-size: 56px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
  font-weight: 600;
}

.glow-effect {
  width: 341px;
  height: 334px;
  border-radius: 50%;
  background: var(--blue);
  filter: blur(50px);
}
