:root {
  --background-black: #00050d;
  --transparent-white: rgba(255, 255, 255, 0.60);
  --second-background: #000711;
  --gray-background: #111111;
  --blue: rgba(0, 123, 255, 1);
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background-black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

p {
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-fluid {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 40px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

