.aev-rating {
  display: flex;
  user-select: none;

  .star-wrapper {
    width: 28px;
    height: 28px;
    margin-right: 5px;
    cursor: pointer;

    svg {
      width: 100%;
      height: 100%;
      transition: transform 0.15s ease;
    }

    &:hover svg {
      transform: scale(1.1);
    }
  }
}
